In [2]:
import pandas as pd

In [3]:
import chardet

ModuleNotFoundError: No module named 'chardet'

In [4]:
# 'Employee Sample Data - Copy.csv'

In [5]:
file_path='C:\\Users\\User\\Downloads\\Employee Sample Data - 1.csv'

In [6]:
# df = pd.read_csv(file_path)
# print(df)

In [7]:
with open(file_path, 'rb') as f:
    result = chardet.detect(f.read())
    print(result) # Use the detected encoding

NameError: name 'chardet' is not defined

In [8]:
df = pd.read_csv(file_path, encoding=result['encoding'])

NameError: name 'result' is not defined

In [9]:
print("The original dataset")
print(df.head())

The original dataset

NameError: name 'df' is not defined

In [10]:
print(df.describe())

NameError: name 'df' is not defined

In [11]:
print(df.info())

NameError: name 'df' is not defined

In [12]:
print("Now i will clean the data ")

Now i will clean the data

In [13]:
new_df=df.dropna()
print(new_df.to_string())

NameError: name 'df' is not defined

In [14]:
#removing the duplicates
dup=df.drop_duplicates(inplace=True)
print(dup)

NameError: name 'df' is not defined

In [15]:
#After cleaning
print(df.head())

NameError: name 'df' is not defined

In [16]:
print(df.describe())

NameError: name 'df' is not defined

In [17]:
print(df.info())

NameError: name 'df' is not defined

In [18]:
new_inputs={
    'EEID':['E01234', 'E04321', 'E01798', 'E02222', 'E09988'],
    'Full Name': ['Saif Attieh', 'Ahmad Mustafa', 'Mohammad Ahmad', 'Ahmad Mohammad', 'Sara Ahmad'],
    'Job Title': ['Data Analys', 'Software Engineer', 'Accountant', 'Coordinator', 'Director'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Sales'],
    'Business Unit': ['BU1', 'BU2', 'BU3', 'BU1', 'BU4'],
    'Gender': ['Male', 'Male', 'Male', 'Male', 'Female'],
    'Ethnicity': ['White', 'Asian', 'Black', 'Hispanic', 'White'],
    'Age': [35, 25, 42, 33, 45],
    'Hire Date': ['15-01-2020', '15-05-2018', '11-11-2015', '09-08-2017', '25-03-2014'],
    'Annual Salary': [12000, 6000, 15000, 10000, 160000],
    'Bonus %': [6.0, 2.5, 3.0, 1.5, 6.5],
    'Country': ['Jordan', 'Lebanon', 'Saudi Arabia', 'Egypt', 'Jordan'],
    'City': ['Amman', 'Beirut', 'Jeddah', 'Cario', 'Amman'],
    'Exit Date': ['10-5-2022', '19-9-2023', '31-12-2019', '16-6-2021', '25-5-2016'],
}

In [19]:
df_new=pd.DataFrame(new_inputs)

In [20]:
df.loc[:4]=df_new
df.to_csv(file_path, index=False)
print("--------Now i will display the first 5 modified rows--------")
print(df.head())

NameError: name 'df' is not defined

In [21]:
#Largest salary
max_salary_row = df.loc[df['Annual Salary'].idmax()]
print("the largest salary:")
print(max_salary_row)

NameError: name 'df' is not defined